.summary {
}

.btn-dark {
    border: none;
    background-color: #959DAD;
}

.btn-outline {
    border: #959DAD
}
.native-header {
    background-color: #959DAD;
    color: white;
    padding-left: 10px;
}

.iframe-container {
    transform: scale(0.8) translate(-10%, 0px);
    width: 200%;
}

